// default configurations
$vue-spinner-interval:1.2s;
$vue-spinner-width:4px;
$vue-spinner-size:28px;
$vue-spinner-color:#26a2ff;


@keyframes mint-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mint-spinner-snake {
  -webkit-animation: mint-spinner-rotate $vue-spinner-interval infinite linear;
  animation: mint-spinner-rotate $vue-spinner-interval infinite linear;
  border: $vue-spinner-width solid $vue-spinner-color;
  border-right-color:transparent;
  border-radius: 50%;
  display: inline-block;
  height: $vue-spinner-size;
  width: $vue-spinner-size;
}
